{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}


{% block header %}
    <h2>Entre com suas informações de Login.</h2>
{% endblock header %}

{% block content %}

    <form method="post" action="{% url 'login' %}", class="form"> <!-- essa url é a url do login do arquivo urls.py da aplicação users -->
        {% csrf_token %} <!-- token de segurança -->
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Login</button> <!-- botão de submit -->
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'index' %}"> <!-- redireciona para a página inicial -->
    </form>

{% endblock content %}