{% extends "learning_logs/base.html" %}

{% block content %}

    <form action="{% url 'register' %}" method="post"><!-- essa url é a url do login do arquivo urls.py da aplicação users -->
        {% csrf_token %} <!-- token de segurança -->
        {{ form.as_p }} <!-- form é o formulário que foi passado pelo views.py -->
        <button name="submit">Registrar</button> <!-- botão de submit -->
        <input type="hidden" name="next" value="{% url 'index' %}"> <!-- redireciona para a página inicial -->
    </form>
{% endblock content %}